/* KEYFRAME */
@-webkit-keyframes flicker-in-1 {
    0% {opacity: 0;}
    10% {opacity: 0;}
    10.1% {opacity: 1;}
    10.2% {opacity: 0;}
    20% {opacity: 0;}
    20.1% {opacity: 1;}
    20.6% {opacity: 0;}
    30% {opacity: 0;}
    30.1% {opacity: 1;}
    30.5% {opacity: 1;}
    30.6% {opacity: 0;}
    45% {opacity: 0;}
    45.1% {opacity: 1;}
    50% {opacity: 1;}
    55% {opacity: 1;}
    55.1% {opacity: 0;}
    57% {opacity: 0;}
    57.1% {opacity: 1;}
    60% {opacity: 1;}
    60.1% {opacity: 0;}
    65% {opacity: 0;}
    65.1% {opacity: 1;}
    75% {opacity: 1;}
    75.1% {opacity: 0;}
    77% {opacity: 0;}
    77.1% {opacity: 1;}
    85% {opacity: 1;}
    85.1% {opacity: 0;}
    86% {opacity: 0;}
    86.1% {opacity: 1;}
    100% {opacity: 1;}}
@keyframes flicker-in-1 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  10.1% {opacity: 1;}
  10.2% {opacity: 0;}
  20% {opacity: 0;}
  20.1% {opacity: 1;}
  20.6% {opacity: 0;}
  30% {opacity: 0;}
  30.1% {opacity: 1;}
  30.5% {opacity: 1;}
  30.6% {opacity: 0;}
  45% {opacity: 0;}
  45.1% {opacity: 1;}
  50% {opacity: 1;}
  55% {opacity: 1;}
  55.1% {opacity: 0;}
  57% {opacity: 0;}
  57.1% {opacity: 1;}
  60% {opacity: 1;}
  60.1% {opacity: 0;}
  65% {opacity: 0;}
  65.1% {opacity: 1;}
  75% {opacity: 1;}
  75.1% {opacity: 0;}
  77% {opacity: 0;}
  77.1% {opacity: 1;}
  85% {opacity: 1;}
  85.1% {opacity: 0;}
  86% {opacity: 0;}
  86.1% {opacity: 1;}
  100% {opacity: 1;}}
@-webkit-keyframes fade {
  0% {opacity: 60%;}
  50% {opacity: 100%;}
  100% {opacity: 60%;}}
@keyframes fade {
  0% {opacity: 60%;}
  50% {opacity: 100%;}
  100% {opacity: 60%;}}
@-webkit-keyframes flicker-out-1 {
  0% {opacity: 1;}
  13.9% {opacity: 1;}
  14% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  14.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  15% {opacity: 1;}
  22.9% {opacity: 1;}
  23% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  24.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  25% {opacity: 1;}
  34.9% {opacity: 1;}
  35% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  39.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  40% {opacity: 1;}
  42.9% {opacity: 1;}
  43% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  44.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  45% {opacity: 1;}
  50% {opacity: 1;}
  54.9% {opacity: 1;}
  55% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  69.4% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  69.5% {opacity: 1;}
  69.9% {opacity: 1;}
  70% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  79.4% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  79.9% {opacity: 1;}
  80% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  89.8% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  89.9% {opacity: 1; -webkit-box-shadow: none; box-shadow: none;}
  90% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  100% {opacity: 0;}}
@keyframes flicker-out-1 {
  0% {opacity: 1;}
  13.9% {opacity: 1;}
  14% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  14.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  15% {opacity: 1;}
  22.9% {opacity: 1;}
  23% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  24.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  25% {opacity: 1;}
  34.9% {opacity: 1;}
  35% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  39.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  40% {opacity: 1;}
  42.9% {opacity: 1;}
  43% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  44.9% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  45% {opacity: 1;}
  50% {opacity: 1;}
  54.9% {opacity: 1;}
  55% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  69.4% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  69.5% {opacity: 1;}
  69.9% {opacity: 1;}
  70% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  79.4% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  79.9% {opacity: 1;}
  80% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  89.8% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  89.9% {opacity: 1; -webkit-box-shadow: none; box-shadow: none;}
  90% {opacity: 0; -webkit-box-shadow: none; box-shadow: none;}
  100% {opacity: 0;}}




/* ------------ ------------ ------------ ------------ ------------ ------------ */
/* ------------ ------------ ------------ ------------ ------------ ------------ */


@media(min-width: 991px){}

@media(max-width: 767px){}

@media (max-width: 540px) {
  
  .mobile {display: block !important;}
  .desktop {display: none !important;}

  /* ------------ --TYPOGRAPHY-- ------------ */
  p {font-size: 1.4rem;}
  button p {font-size: 2rem; top: 45%; left: 50%; transform: translate(-50%, -50%);}
  button img {height: 40px;}
  .txt_title {font-size: 5rem;}
  .txt_subtitle {font-size: 3rem;}
  .txt_subsubtitle {font-size: 2rem; line-height: 2rem;}
  .txt_bigtypo {font-size: 5rem;}
  .txt_decor {
    -moz-text-stroke-width: 0.2px;
    -webkit-text-stroke-width: 0.2px;
    text-shadow: -0px 0px #83FFFF,
                  0px 0px 10px rgba(0, 240, 255, 0.8);
  }


  /* BACKGROUND------------ ------------ */
  .header_NeonLight, .header_WhiteLight, .header_BlueLight,
  .header_MeshLight, .header_Mesh,
  .footer_NeonLight, .footer_BlueLight,
  .footer_MeshLight, .footer_Mesh, .footer_Glass {width: 800px;}
  .header_MeshLight, .header_Mesh, .footer_MeshLight, .footer_Mesh, .footer_Glass {height: calc(50vh);}
  .header_BlueLight,  .header_WhiteLight, .header_NeonLight {bottom: calc(50vh + 200px);}
  .header_Mesh, .header_MeshLight {bottom: calc(50vh + 200px)}
  .footer_BlueLight, .footer_WhiteLight, .footer_NeonLight {top: calc(50vh + 200px);}
  .footer_Glass, .footer_Mesh, .footer_MeshLight {top: calc(50vh + 200px)}

  .right_WireLight, .right_Wire,
  .left_WireLight, .left_Wire {height: 200px;}
  .right_WireLight, .right_Wire {right: -350px;}
  .right_WireLight.active, .right_Wire.active {right: -420px; transform: translateY(-50%) scale(1.2);}
  .left_WireLight, .left_Wire {left: -350px;}
  .left_WireLight.active, .left_Wire.active {left: -420px; transform: translateY(-50%) scale(1.2);}

  .bigLight {height: 100vh;}
  .bubble {height: 400px;}
  .bubble.active {transform: translate(-50%, -38%) scale(1.4) rotate(-40deg);}
  .hexMesh {width: 900px;}
  .hexMesh.active {transform: translate(-50%, -50%) scale(1.4);}
  .sub_Background {height: 400px;}


  /* HUD------------ ------------ */
  .hud_Interface {height: 70vh; width: calc(70vh / 1510 * 924); overflow: hidden;}
  .hud_Interface_img {width: calc(70vh / 1510 * 924);}


  /* HUD BUTTON------------ ------------ */
  .btnBack {left: 50%; bottom: -8px;}
  .btnBack.active {left: -40px;}
  .btnNext {right: 50%; bottom: -8px;}
  .btnNext.active {right: -40px;} 
  .top_Pad, .bottom_Pad {height: 2.2vh;}
  .right_Pad, .left_Pad {height: 24.2vh;}


  /* HUD HOLE------------ ------------ */
  .hud_Hole {height: 70vh;}


  /* PAGE 1------------ ------------ */
  .contentPage1 .txt_title {margin: -20px 0 -5px 0;}


  /* PAGE 2------------ ------------ */
  .contentPage2.active {bottom: 35px;}
  .contentPage2 .txt_subsubtitle {margin-top: -8px;}
  .owl-carousel.active {top: 0; transform: translate(-50% , 0);}
  .owl-carousel, .owl-carousel .item, .owl-carousel .item img {
    height: calc(70vh / 100 * 85);
    width: calc(70vh / 1510 * 924 / 100 * 100);
  }


  /* PAGE 3------------ ------------ */
  .contentPage3 .txt_bigtypo {margin: -10px 0 -25px 0;}


  /* PAGE 4------------ ------------ */
  .contentPage4.active {top: 10px;}


  /* PAGE 5------------ ------------ */
  .contentPage5 .txt_title {margin: -20px 0 -5px 0;}
}